<div class="home-container">  
    <main>
      <h2>Bienvenido a Sener</h2>
      <p><strong>Desarrollo realizado por:</strong> Aitor Mentxaka</p>
      <p><strong>SENER DPD ID:</strong> 05/05/2025</p>
    </main>
  </div>
  <div class="home-container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, ab eveniet ratione atque sapiente architecto beatae facere, autem explicabo placeat illo! Quam repudiandae temporibus in aperiam aliquid adipisci ipsa?
    Voluptates sed earum beatae voluptatibus quos voluptas, cumque est rem, dolorum nemo eum nisi reiciendis eos odio perspiciatis at id? Incidunt neque totam commodi architecto. Ratione vitae mollitia sunt?
    Assumenda asperiores consequuntur amet rem ab impedit dolores quae doloribus tempora blanditiis dicta numquam, modi vitae molestias deserunt consequatur expedita eius iste. Hic dolores eius, recusandae placeat eos quasi?
    Labore illo accusamus nostrum? Quas, inventore delectus asperiores velit alias fuga est soluta obcaecati amet. Fuga laudantium delectus itaque rem ratione provident atque quas. Architecto minima quas similique a!
    Alias quasi animi blanditiis eos illo delectus doloribus beatae ipsum repellat, impedit, totam harum, laboriosam aliquam ea error ad. In ipsam numquam maiores iure? Impedit eum numquam veritatis fuga.
    Magnam officiis, nostrum nisi perspiciatis nihil, obcaecati, neque consequatur natus quas illo sit accusamus laboriosam atque voluptatum culpa fugiat ut aliquid maiores debitis eaque! Expedita fugit nemo modi corporis!
    Velit expedita iure, ipsum, earum magni dicta reprehenderit repellat minus, ipsam deleniti explicabo consectetur dolor? Mollitia quidem delectus animi ea illum corporis fugiat porro, ullam sequi quasi fugit beatae!
    Sequi nobis ab ut placeat, inventore atque modi officia reprehenderit sit, obcaecati harum, reiciendis odit repellendus dolorem vel unde doloribus vitae ex quos aspernatur maiores? Quidem reprehenderit ipsum provident?
    Iusto, asperiores mollitia deleniti accusantium ut placeat eos quaerat dignissimos est, quas consequuntur, consectetur beatae praesentium officiis doloremque tempore nihil ipsa corporis eveniet adipisci. Voluptas eum magnam animi beatae.
    Maiores sequi ad voluptates nihil, nesciunt atque ab quia. Quia tempora et id fugit repellendus. Exercitationem, sequi et. Eaque mollitia incidunt amet, debitis quaerat suscipit possimus earum corporis enim?
    Nesciunt exercitationem vero repellendus nihil vitae, aperiam voluptate totam voluptas, et beatae, obcaecati sint fuga! Nemo voluptas fuga labore, non, eaque culpa laboriosam rem iusto temporibus, perspiciatis nostrum odit.
    Porro quaerat molestias nesciunt esse neque nostrum alias temporibus error praesentium amet. Doloremque modi officia a aliquam praesentium, ipsam dolorum et deleniti labore ipsa assumenda delectus ullam magnam. Nemo.
    Quo beatae expedita, id, labore repellat enim vero vel fugiat aliquam itaque minus in animi soluta ad corrupti vitae blanditiis quae consequuntur at adipisci neque voluptates. Voluptatibus, illo laboriosam?
    Amet porro, rerum minima harum, quaerat deserunt itaque animi tempore atque et numquam voluptate consequuntur! Ad cum corrupti placeat deleniti nam totam, delectus autem sit deserunt soluta accusantium reprehenderit.
    Repellendus reprehenderit veniam eaque ipsa fugiat iure possimus ipsum nisi expedita, ullam, culpa nobis, assumenda labore enim omnis in velit totam temporibus ad eligendi eius? Sequi aliquid est omnis.
    Excepturi voluptatem aliquid ex quos mollitia sunt suscipit explicabo! Magnam eius ab ex aliquid, impedit inventore, eaque in corporis itaque mollitia maxime placeat consequuntur sed voluptas, tenetur nobis aliquam.
    Libero adipisci cupiditate minima tenetur nesciunt eum modi dolor? Nam qui pariatur tempore laudantium dolore harum? Necessitatibus doloribus cumque voluptatum iure dolorem eligendi, officia id commodi labore. Quia, laboriosam?
    Placeat fugit reprehenderit eos maiores consequatur, debitis distinctio! Soluta illo nesciunt perferendis impedit, magni, nihil laboriosam nostrum reiciendis ipsa dolorem velit dignissimos tempora molestias nisi amet quae vitae iusto.
    Dolorem reprehenderit quisquam consequatur reiciendis dicta, molestias non consequuntur odit sapiente impedit quia explicabo recusandae aperiam blanditiis aut nulla quasi veniam delectus atque quas autem assumenda eaque modi? Perferendis!
    Odio perferendis enim aut labore minus neque esse, at minima expedita quos, quisquam delectus voluptates et, tenetur inventore harum libero quis iure quas ducimus vitae illo? Repudiandae, optio perferendis.</p>
  </div>
  